# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/docs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

in
out

# Ignore temp files used for PBF files generation

.venv/

__pycache__/
*.pyc

data/pbf_builder/raw/
data/pbf_builder/extracted/
data/pbf_builder/geojson/

# Ignore files generated during GH Pages deployment
public/pbf/
docs/

.DS_Store
